html {
    --white: #fff;
    --black: rgb(39, 39, 39);
    --gray: rgb(243, 243, 243);
    --green: rgb(5, 168, 114);
    --carbon-text: rgb(65, 65, 65);
    --carbon-text-light: rgb(139, 139, 139);
    --blue-text: rgb(31, 111, 158);
    --danger-text: rgb(255, 51, 119);
    --color-light: rgb(211, 211, 211);
    --text-large: 20px;
    --text-medium: 16px;
    --text-small: 12px;
    --border-radius-default: 4px;
    --border-light: 1px solid var(--color-light);
}